[Desktop Entry]
Type=Application
Name=Install Yocto
Comment=NAND, WiFi
Exec=/usr/bin/terminal bash -c "/usr/bin/install_yocto.sh -b mx6ul -r nand -v wifi; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
