[Desktop Entry]
Type=Application
Name=Install Yocto
Comment=eMMC
Exec=/usr/bin/xterm -e "/usr/bin/install_yocto.sh -b mx7 -r emmc; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
