[Desktop Entry]
Type=Application
Name=Install Yocto
Comment=SOLOCB eMMC
Exec=/usr/bin/xterm -e "/usr/bin/install_yocto.sh -b scb -r emmc; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
