[Desktop Entry]
Type=Application
Name=Install Yocto
Comment=MX6CB Cap NAND
Exec=/usr/bin/xterm -e "/usr/bin/install_yocto.sh -b mx6cb -t cap -r nand; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
