[Desktop Entry]
Type=Application
Name=Install Yocto
Comment=DART (eMMC)
Exec=/usr/bin/xterm -e "/usr/bin/install_yocto.sh -b dart; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
