[Desktop Entry]
Type=Application
Name=Yocto-eMMC
Comment=Yocto Fido (V10.1).
Exec=terminalye
Icon=media-flash
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
Name[en_US]=yocto_emmc.desktop
