[Desktop Entry]
Type=Application
Name=Yocto-Dart
Comment=Yocto Fido (V10).
Exec=terminalyd
Icon=media-flash
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
Name[en_US]=yocto_dart.desktop
