[Desktop Entry]
Type=Application
Name=Yocto-nand
Comment=Yocto Fido (V10).
Exec=terminalyn
Icon=media-flash
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
Name[en_US]=yocto_nand.desktop
