[Desktop Entry]
Type=Application
Name=Yocto-NAND
Comment=Yocto Jethro
Exec=terminalyn
Icon=media-flash
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
Name[en_US]=yocto_nand.desktop
