[Desktop Entry]
Type=Application
Name=Yocto Jethro
Comment=MX6CB Res NAND
Exec=/usr/bin/terminal /usr/bin/install_yocto.sh -b mx6cb -t res -r nand
Icon=media-flash
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
