[Unit]
Description=Variscite Bluetooth setup service
Before=bluetooth.target

[Service]
Type=forking
ExecStart=/etc/bluetooth/variscite-bt

[Install]
WantedBy=multi-user.target
