[Unit]
Description=PulseAudio system server

[Service]
Type=forking
ExecStart=/etc/pulse/variscite-pulse start
ExecStop=/etc/pulse/variscite-pulse stop

[Install]
WantedBy=multi-user.target
