[Desktop Entry]
Type=Application
Name=Android M6.0.1
Comment=DART
Exec=/usr/bin/terminal bash -c "/usr/bin/install_android.sh -b dart; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
