[Desktop Entry]
Type=Application
Name=Android L5.1.1
Comment=MX6CB Res
Exec=/usr/bin/terminal /usr/bin/install_android.sh -b mx6cb -t res
Icon=media-flash
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
