[Desktop Entry]
Type=Application
Name=Android M6.0.1
Comment=MX6CB Cap
Exec=/usr/bin/terminal bash -c "/usr/bin/install_android.sh -b mx6cb -t cap; read"
Icon=media-flash
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
