[Desktop Entry]
Type=Application
Name=Install Android
Comment=MX6CB Res
Exec=/usr/bin/terminal bash -c "/usr/bin/install_android.sh -b mx6cb -t res; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
