[Desktop Entry]
Type=Application
Name=Install Android
Comment=DART
Exec=/usr/bin/xterm -e "/usr/bin/install_android.sh -b dart; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
