[Desktop Entry]
Type=Application
Name=Android M6.0.1
Comment=SOLOCustomBoard
Exec=/usr/bin/terminal bash -c "/usr/bin/install_android.sh -b scb; read"
Icon=media-flash
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
