[Desktop Entry]
Type=Application
Name=Install Android
Comment=MX6CB Cap
Exec=/usr/bin/xterm -e "/usr/bin/install_android.sh -b mx6cb -t cap; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
